<div class="body">
  <div class="main">
    <div>
      <h1>To Do List</h1>
      <h3>A place to store your todos</h3>
    </div>
    <div *ngFor="let todo of todos; let i = index">
      <ol>
        <button
          class="completeBtn"
          *ngIf="!todo.completed"
          (click)="onComplete(i)"
        >
          Complete
        </button>
        <span [ngClass]="{ completed: todo.completed }">
          {{ todo.task }} ({{ todo.duration | number : "1.0-2" }} hr)
          <span *ngIf="todo.priority === 'Low'" class="downArrow"
            >&darr; {{ todo.priority }}</span
          >
          <span *ngIf="todo.priority === 'High'" class="upArrow"
            >&uarr;{{ todo.priority }}</span
          >
          <span *ngIf="todo.priority === 'Normal'" class="noPriority">{{
            todo.priority
          }}</span>
        </span>
        <button class="deleteBtn" (click)="onDelete(i)">X</button>
      </ol>
    </div>
  </div>
</div>
